body {
  background-color: #ecf0f1;
}

.btn {
  cursor: pointer;
}

h1 {
  color: #34495e;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  animation: fadeIn 0.6s linear;
}

.js-clock__text {
  color: white;
  font-size: 110px;
}

.js-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  margin-top: 300px;
  height: 100px;
}

.js-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 100px;
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-top: 25px;
}

.js-form input {
  font-size: 25px;
  width: 35%;
  height: 50px;
  border-style: double;
  border-width: 7px;
  border-color: #778beb;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  color: #ecf0f1;
}

.js-greetings {
  color: #f8a5c2;
  font-size: 50px;
  font-style: oblique;
}

.js-toDoForm {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.js-toDoForm input {
  height: 30px;
  width: 60%;
  color: #ecf0f1;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-bottom: 2.5px solid #ecf0f1;
  padding: 13px;
  font-size: 25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.js-toDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.toDo {
  color: #ecf0f1;
  font-size: 18px;
  margin-top: 7px;
}

.js-weather {
  color: white;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
}

.toDo button {
  border-radius: 45%;
  border-style: ridge;
  margin-left: 10px;
}

/* -------------------------------------------------------------------------------- */
/* reset.css */
input:focus {
  outline: none;
}

input::placeholder {
  color: #ecf0f1;
  text-align: center;
  font-size: 35px;
}

ul {
  list-style: none;
}
